<h1 mat-dialog-title>Create New Tamplate</h1>
<div mat-dialog-content>
  <form [formGroup]="templateForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" placeholder="Description">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Created_date</mat-label>
      <input matInput formControlName="created_date" placeholder="Created_date">
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button style="margin-left: 8px;" color="primary"
    (click)="addProduct()">Save</button>
</div>
